@tailwind base;
@tailwind components;
@tailwind utilities;

.input-hover:hover::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

body {
    overflow: hidden; /* ẩn chỉ thanh cuộn dọc */
}

.main-content {
    height: calc(100vh - 64px); /* Giả sử header có chiều cao 64px, điều chỉnh nếu cần */
    overflow-y: auto; /* Cho phép cuộn dọc */
}

::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên các trình duyệt hỗ trợ */
}

.bg-black-translucent {
    background-color: rgba(0, 0, 0, 0.9); 
}

.hover-brightness {
    transition: filter 0.3s ease; /* Thêm hiệu ứng chuyển tiếp mượt */
}
  
.hover-brightness:hover .bright {
    filter: brightness(200%); /* Tăng độ sáng lên 150% khi hover */
}
  
.search-container:focus-within {
    background-color: #1f1f1f; 
}

.show-friends {
    transition: background-color 0.3s;
}

.show-friends:focus .friend_list {
    display: block;
}

.show-friends:focus .icon-show-friends {
    opacity: 0.4;
}
